MAGUS_PUBLIC_APP_URL=http://localhost:3000
MAGUS_PUBLIC_API_URL=http://localhost:3000

MAGUS_ADMIN_USERNAME=admin
MAGUS_ADMIN_PASSWORD=change-me
MAGUS_SESSION_SECRET=change-me

FEISHU_APP_ID=
FEISHU_APP_SECRET=

NGROK_AUTHTOKEN=
NGROK_DOMAIN=
NGROK_TUNNEL_NAME=magus-cloud
NGROK_ADDR=app:3000

MAGUS_STORAGE_ROOT=/www/wwwroot
MAGUS_APP_NAME=Magus Cloud
