.file-tree-container {
    font-size: 14px;
}

.tree-actions button {
    padding: 4px 8px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.tree-actions button:hover {
    background: #e0e0e0;
}

.tree-node-item {
    display: flex;
    min-width: 500px;
    max-width: 1000px;
}
/* hover样式，hover之后颜色变蓝，并添加下划线*/
.tree-node-item:hover {
    color: #007bff;
    text-decoration: underline;
}

.tree-node-actions{
    margin-left: 10px;
    /* display: none; */
    padding: 2px 6px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.tree-node-item:hover .tree-node-actions{
    display: flex;
}

.node-name{
    display: block;
    min-width: 250px;
}
/*时间与大小展示*/
.node-label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.node-size,
.node-time {
    width: 200px;
    text-align: right;
    font-size: 12px;
    color: #666;
    padding-left: 12px;

}

/*设置锚点 y =500px
TODO 不能自适应*/
.node-size{
    position: fixed;
    left: 300px;
}

.node-time{
    position: fixed;
    left: 500px;
}
